
			body {
				padding: 20px;
        	background-color: rgb(200,200,200);
  				color: white;
  				padding: 20px;
  			}
			/*use h3 as a store*/
			h3 {
			font-family: Cursive;
font-family: "American Typewriter", serif;
	      }
			/* color name */
			h1 {
				font-family: "Lucida Calligraphy";
				color: Yellow;
  				background-color: Blue;
  				padding: inherit;
      }
			/* hex code */
			h2 {
				font-family: "Lucida Calligraphy";
				color: Blue;
  				background-color: Yellow;
  				padding: inherit;
        }
			/* rgb value */
			p {
				font-family: Arial, Helvetica, sans-serif;
				background-color: hsla(0,100%,100%,0.5);
    				color: #64645A;
    				padding: inherit;
  				padding: inherit;
    				width: 80%;
    				height: 100%;
    				position: relative;
    				top: 20px;
    				left: 20px;
    				margin: 20px;
      }

	      p.link {background-color: hsla(0,100%,100%,0.5);
	     				color: #000000;
			          opacity: 1;
							font-size: 25px;}
	      p.notes {font-family: "Courier New", Courier, monospace;
					background-color: rgb(255, 235, 205);
	     				color: #000000;
						height: 100%;}
        p.one {background-color: hsla(0,100%,100%,0.5);
      				color: #000000;
          opacity: 1;}
        p.two {background-color: hsla(0,100%,100%,0.5);
      				color: #000000;}

			div {
				width: 100px;
				height: 100px;
				margin: 40px;
				display: inline-block;
				background-color: #ee3e80;}


				.red {
						background-color: Red;
						color: GreenYellow;}
				.green {
						background-color: Green;
						color: orange;}
				.purple {
						background-color: Purple;
						color: Blue;}
				.black {
						background-color: Black;
						color: Gold;}
				.brown {
						background-color: Brown;
						color: yellow;}
				.cyan {
						background-color: Cyan;
						color: silver;}
				.magenta {
						background-color: Magenta;
						color: black;}
				.orange {
						background-color: Orange;
						color: Blue;}

			.credits {
				font-family: "Courier New", Courier, monospace;}

	   @import url('https://fonts.cdnfonts.com/css/american-typewriter');

		 table.toptable{width: 100%;}
		 td.toptd1 { border: 2px solid; margin: 15px; padding: 15px; text-align: center;
			 box-shadow: 10px 10px 10px #000000;  background-color: Purple;}
		td.toptd2 { border: 2px solid; margin: 15px; padding: 15px; text-align: center;
				 box-shadow: 10px 10px 10px #000000; background-color: Green;}
		a.top {color: White; text-decoration: none; font-weight: bold;}
